app/node_modules
app/src-tauri
app/.idea
app/.vscode
app/dist
app/dev-dist
app/dist-ssr
app/target
app/tauri.conf.json
app/tauri.js

screenshot
.vscode
.idea
config.yaml
config.dev.yaml

sdk
logs

chat
chat.exe

# for reverse engine
reverse
access.json
access/*.json

db
cache
config

README.md
.gitignore
screenshot
LICENSE

.github
